/**
 * Auth screens
 */
#auth-screens section {
	position 				: absolute;
	left 					: 50%;
	top 					: 50%;
	width 					: 90%;
	transform 				: translate(-50%, -50%);
	text-align 				: center;
}

#auth-screens h1 {
	margin 					: 0px;
	color 					: #FFF;
}

#auth-screens form > * {
	margin-top 				: 5px;
}

#auth-screens input {
	width 					: 100%;
}

#auth-screens form:not(#form-login) button:nth-of-type(1) {
	float 					: left;
}

#auth-screens form button:nth-of-type(2) {
	float 					: right;
	font-weight 			: bold;
}

/**
 * Login screen
 */
#screen-login {
	transform 				: translateY(-30%);
}

#show-register-btn {
	margin-top 				: 10%;
}

/**
 * Register screen
 */
#screen-register {
	visibility  			: hidden;
}

@media (min-width: 500px) {
	#auth-screens section {
		width 				: 250px;
	}
}